/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Background */
body {
    background-color: #1E1E2E;
    color: #D9E0EE;
}

/* Scrollbar */
/*! Not work on firefox */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1E1E2E;
}

::-webkit-scrollbar-thumb {
    background: #302D41;
}

/* Links */
a {
    text-decoration: none;
    color: #DDB6F2	;
}

a:hover {
    text-decoration: none;
    color: #F5C2E7;
}

/* End */
#end {
    font-family: 'Inter', sans-serif;
    font-size: small;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0vh;
    padding-bottom: 0vh;
}

#end a {
    color: #575268;
}

/* Other */
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}